* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}


body {
    background: url("../img/background-default.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
}

.buy {
    background-color: white;
    width: 25%;
    /*height: 700px;*/
    float: right;
    right: 5%;
    /*margin-top: 160px;*/
    margin-right: 4%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 20px;
    text-align: left;
}

main {
    margin-top: 160px;

}


.product {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.right_item {
    /*float: right;*/
    width:  70%;
}
.top_right_item {
    display: block;
    padding: 20px;

    height: 50%;
}

.bottom_right_item {
    display: block;
    padding: 20px;
}

.plus_button {
    width: 40px;
    float: right;
    padding: 8px;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}
.plus_button:hover {
    cursor: pointer;
    background-color: #FF4386;
    transition: background-color 0.2s;
}
.amount_of_item {
    text-align: center;
    width: 40px;
    height: 40px;
    float: right;
    padding: 8px;
}

.minus_button {
    width: 40px;
    height: 40px;
    float: right;
    padding: 8px;
    border-bottom-left-radius: 10px;
    border: none;
    border-top-left-radius: 10px;
    color: white;
    background-color: black;
}


.minus_button:hover {
    cursor: pointer;
    background-color: #FF4386;
    transition: background-color 0.2s;
}
.price_of_item {
    font-size: 26px;
}
.name {
    font-size: 36px;
}

.delete_button {
    float: right;
    width: 120px;
    height: 80%;
    /*margin-right: 5%;*/
    /*padding: 20px 10%;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #676767;
    color: #fff;
    border: none;
    border-radius: 10px;
}



.delete_button:hover {
    cursor: pointer;
    background-color: #FF4386;
    transition: background-color 0.2s;
}
.left_item {

    width:  30%;
}


.item {
    display: flex;
    /*display: inline-block;*/
    width: 50%;
    height: 170px;
    /*padding-top: 14px;*/
    background-color: white;
    margin-left: 7%;
    margin-bottom: 4%;
    /*float: left;*/
}

.buy input[type="submit"] {
    width: 100%;
    /*height: 60px;*/
    padding: 15px;
    /*margin-top: 20px;*/
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}


.buy input[type="submit"]:hover {
    background-color: #FF4386;
    transition: background-color 0.2s;
}

.buy p {
    /*font-weight: 500;*/
    font-size: 25px;
}


.all_price {
    font-weight: 500;
    font-size: 25px;

}