body {
    background: url("../img/background-default.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
}

main {
    margin: 0;
    padding-bottom: 60px;

}

.welcome {
    /*margin-top: 40px;*/
    width: 100%;
}
.review_form {
    padding: 22px 25px 22px;
    min-width: min-content;
    width: 50%;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
}
.review_info {
    min-width: 390px;
    border-radius: 10px;
    padding: 1px 25px 12px;
    width: 50%;
    background-color: white;
    margin: 20px auto;
    /*min-width: min-content;*/
}

.userid {
    /*margin-top: 10px;*/
    /*background-color: #5b6574;*/
}

.leave_review {
    font-size: 24px;
    font-weight: 700;
    /*margin-left: 5px ;*/
}


.send_review {
    height: 35px;
    width: 100px;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
}

.send_review:hover {

    background-color: #FF4386;
}
#new_review {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    resize: none;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
}