.header-cathegories {
    margin-top: auto;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 105px 0 10px 0;
}

.cath {
    width: 33%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 5px;
}
.cath:hover{
    color: #FF4386;
}