body {
    background: url("../img/background-default.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
}

.filters {
    background-color: white;
    width: 16%;
    /*height: 690px;*/
    float: left;
    margin-left: 4%;
    /*margin-top: 183px;*/
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    
}
.filters h1 {
    text-align: center;
    color: #5b6574;
    font-size: 34px;
    padding: 0 0 2px 0;
    /*border-bottom: 1px solid #dee0e4;*/
}

.filters h2 {
    color: black;
    font-size: 25px;
    padding: 25px 0 0 0;
    border-top: 1px solid #dee0e4;
}

.filters input[type="number"] {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.filters select {

    width: 90%;
    height: 40px;
    padding: 10px;
    /*margin-left: 10px;*/
    /*background-color: black;*/
    border: 0;
    cursor: pointer;
    /*color: #;*/
    /*transition: background-color 0.2s;*/
    /*border-radius: 10px;*/

}

.filters input[type="submit"], #filter_button {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-top: 35px;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    /*border-radius: 10px;*/
}

main {
    /*background-image: url("img/background-default.jpg");*/
    /*background-size: cover;*/
    margin-top: 183px;

}

.product {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.square {
    display: inline-block;
    width: 20%;
    background-color: white;
    margin-left: 4%;
    margin-bottom: 67px;
    text-align: center;
    /*float: left;*/
}

.buy_button {
    width: 50%;
    padding: 10px;
    margin: 10px;

    float: right;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.buy_button:hover {
    background-color: grey;
    transition: background-color 0.2s;
}

.price {

}

.name {
}