body {
    background: url("../img/background-default.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
main {
    padding: 20px;
}

.product-details {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.image_n_price{
    min-width: min-content;
    width: 50%;
    background-color: white;
    padding: 10px;
}
.img_n_prc{
    /*min-width: min-content;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image_n_price img {
    /*padding: 10px 10px 10px 10px;*/
    width: inherit;
    align-content: center;
    height: auto;
    border: none;
}

.price{
    min-width: min-content;
    width: 90%;
    padding-left: 30px;
    height: 100px;
    /*background-color: #fff;*/
    display: flex;
    align-items: center;
    justify-content: right;
}

.price-text{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
}

.add-to-cart {
    width:50%;
    margin-right: 5%;
    padding: 20px 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.add-to-cart:hover{
    background-color: #FF4386;
}

.product-info {
    display: inline-block;
    overflow: hidden;
    width: 50%;
    margin-left: 20px;
}
.prof_inf{
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: white;
}
.product-name{
    padding-left: 5%;
    padding-right: 5%;
}
.product-description{
    padding-left: 5%;
    padding-right: 5%;
}

.main {
    /* Add padding at the bottom to make space for the fixed footer */
    padding-bottom: 60px; /* Adjust the value as per your footer height */
}

hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin-left: 5%;
    margin-right: 5%;
}