body {
    background: url("../img/background-default.jpg") no-repeat fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
}

.user-page {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
}

.user-info{
    width: 30%;
    min-width: max-content;
}
.us-inf{
    padding: 10px;
    background-color: white;
}

.my-info{
    padding: 10px 10px 5px 10px;
    font-size: 30px;
    font-weight: bold;
}

.information-title{
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
.information{
    padding: 0 10px 10px 10px;
    font-size: 16px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    width: 90%;
}

.information:focus {
    border: 1px solid #FF4386;
    border-radius: 10px;
    outline: none;
}

.edit {
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.edit:hover{
    background-color: #FF4386;
}

.logout {
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.logout:hover{
    background-color: #FF4386;
}

.orders-title{
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 20px;
}

.orders-info {
    height: max-content;
    background-color: white;
    display: inline-block;
    overflow: hidden;
    width: 70%;
    margin-left: 20px;
}
.order-info{
    /*margin: 20px;*/
    min-width: max-content;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid #FF4386;*/
    border-radius: 20px;
}

.order-id{
    width: 15%;
    font-size: 20px;
}
.order-date{
    width: 15%;
}
.order-price{
    text-align: right;
    width: 15%;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 15px;
}

.main {
    /* Add padding at the bottom to make space for the fixed footer */
    padding-bottom: 60px; /* Adjust the value as per your footer height */
}
hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0 2%;
}